---
import { classes } from "../shared/classes";

export interface Job {
  period: string;
  company: string;
  title: string;
  description: string;
  tools?: string;
}

interface Props {
  records: Job[];
}

const { records } = Astro.props;
---

<section class="mb-5">
  <h2 class={classes.h2}>Experience</h2>
  {
    records.map(({ period, company, title, tools, description }) => (
      <div class="mb-5">
        <p class="mb-3">{period}</p>
        <h3
          class={
            classes.h3 +
            " !text-lg !text-slate-100 print:!text-slate-950 !font-bold mb-5"
          }
        >
          {company} <br />
          <small class="font-normal text-slate-500">
            <em>{title}</em>
          </small>
        </h3>
        <p class="mb-5" set:html={description} />
        {tools && (
          <p class="text-blue-400">
            <small>{tools}</small>
          </p>
        )}
      </div>
    ))
  }
</section>
