---
import { classes } from "../shared/classes";

export interface Job {
  period: string;
  company: string;
  title: string;
  description: string;
  details?: string;
  tools?: string;
}

interface Props {
  records: Job[];
}

const { records } = Astro.props;
---

<section class={classes.section}>
  <h2 class={classes.h2}>Experience</h2>
  <ol
    reversed
    class={"lg:grid grid-cols-2  pl-8 gap-x-12 gap-y-3" + classes.marker}
  >
    {
      records.map(({ period, company, title, tools, description, details }) => (
        <li
          class={
            "mb-5 group print:mb-0 print:pb-0 print:bg-transparent bg-slate-900/60 hover:bg-slate-900/50 hover:scale-[1.01] px-5 pt-3 pb-5 rounded-lg transition-all" +
            classes.leftBorder
          }
        >
          <p class="mb-3">{period}</p>
          <h3 class={classes.h3}>
            {company} <br />
            <small class="font-normal text-slate-500">
              <em>{title}</em>
            </small>
          </h3>
          <div class="opacity-25 group-hover:opacity-100 print:opacity-100 transition-opacity overflow-hidden">
            <p class="mb-5" set:html={description} />
            {details && <p class="text-slate-600 text-sm mb-3">{details}</p>}
            {tools && <p class="text-blue-400 text-xs">{tools}</p>}
          </div>
        </li>
      ))
    }
  </ol>
</section>
