---
export interface Job {
  period: string;
  company: string;
  title: string;
  description: string;
  tools?: string;
}

interface Props {
  records: Job[];
}

const { records } = Astro.props;
---

<section class="mb-5">
  <h2 class="text-xl text-gray-300 border-b border-gray-700 mb-5">
    Experience
  </h2>
  {
    records.map(({ period, company, title, tools, description }) => (
      <div class="mb-5">
        <p class="text-gray-400 mb-5">
          <strong>{period}</strong>
        </p>
        <h3 class="text-lg text-gray-200 mb-5">{company}</h3>
        <p class="text-gray-400 mb-5">
          <em>{title}</em>
        </p>
        <p class="text-gray-400 mb-5" set:html={description} />
        {tools && (
          <p class="text-[#39f]">
            <small>{tools}</small>
          </p>
        )}
      </div>
    ))
  }
</section>
