---
import { classes } from "../shared/classes"

interface Stack {
  title: string
  items: string[]
}

interface Props {
  records: Stack[]
}

const { records } = Astro.props
---

<section class={classes.section}>
  <h2 class={classes.h2}>Skills</h2>
  <ul class="print:inline">
    {
      records.map(({ title, items }) => (
        <li class="group cursor-default grid-cols-6 md:grid print:m-0 print:inline-block print:p-0">
          <h3
            class={
              classes.h3 +
              " transition-color relative mb-0 mr-5 mt-3 text-sm !text-slate-400/50 group-hover:!text-slate-100 md:top-5 lg:text-right print:text-left"
            }
          >
            {title}
          </h3>
          <ul class="z-100 col-span-5 mt-3 flex list-none flex-wrap place-items-start justify-start gap-3 rounded-lg border-l border-slate-800/65 p-3 transition-all group-hover:border-slate-800 group-hover:bg-slate-900 md:border-transparent print:inline">
            {items.map((title) => (
              <li class={classes.pillMd}>{title}</li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</section>
